/.metadata/
/IGUpractico/ProbandoGui/target/
/IGUpractico/Ejercicios/Ejercicio2/target/
/IGUpractico/Ejercicios/Ejercicio3/target/
/IGUpractico/Ejercicios/Ejercicio4/target/
/IGUpractico/Ejercicios/Ejercicio5/target/
